.jumbo{
  margin: auto;
  width: 40%;
  padding: 100px 0px 100px 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* 4e9b9b */
/* cc783b */
/* ffb27c */

.social-holder{
  text-align:center;
  background-color: #4e9b9b;
  margin-bottom: 25px;
}
  
.social-icon{
  display: inline-block;
  padding: 10px;
  margin: 40px;
  width: 50px;
}

#sticky{

}

#sticky-phantom {
  visibility: hidden;
  height: 152.5px;
  margin-bottom: 25px;
}

.stuck{
  position: fixed;
  top: 0;
  width: 100%;
}

#bio{
  position: relative;
}

#profile-pic{
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #4e9b9b;
  padding: 5px;
  margin: 10px;
  width: 300px;
}

#bio-blurb{
  position: absolute;
  top: 80px;
  left: 475px;
  width: 60%;
  font-family: 'Overpass', sans-serif;
  font-size: 2.0em;
  text-align: center;
}

.main-window{
  width: 90%;
  margin: auto;
}