.jumbo{
  margin: auto;
  width: 40%;
  padding: 100px 0px 100px 0px;
}

.kjmb-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* 4e9b9b */
/* cc783b */
/* ffb27c */

.social-holder{
  background-color: #4e9b9b;
  margin-bottom: 25px;
  margin-top:14px;
}
  
.social-icon{
  padding: 10px;
  margin: 20px;
  width: 70px;
}

#sticky{
  height:138px;
}

#sticky-phantom {
  visibility: hidden;
  height: 138px;
}

.stuck{
  position: fixed;
  z-index:1000;
  top: 0;
  width: 100%;
}

#bio{
  position: relative;
  z-index: -1;

}

#profile-pic{
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #4e9b9b;
  padding: 5px;
  margin: 10px;
  width: 300px;
}

#profile-pic-2{
  border-style: solid;
  border-width: 5px;
  border-color: #4e9b9b;
  padding: 5px;
  margin: 10px;
  max-width: 300px;
}

#bio-blurb{
  position: absolute;
  top: 80px;
  left: 475px;
  width: 60%;
  font-family: 'Overpass', sans-serif;
  font-size: 2.0em;
  text-align: center;
  z-index: -1;

}

.blurb{
  font-family: 'Overpass', sans-serif;
  font-size: 2.0em;
  text-align: center
}

.main-window{
  width: 90%;
  margin: auto;
}